.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
  }

  nav {
    background-color: #09814A !important;
  }

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .text-muted {
    color: #6c757d !important;
  }

  footer {
    display: block;
    text-align: left;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .featurette-divider {
    margin: 5rem 0;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
      border-top-width: 0px;
      border-top-style: none;
      border-top-color: currentcolor;
    border-top: 1px solid rgba(0,0,0,.1) !important;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .mt-auto {
    margin-top: auto !important;
  }

  .modal-title {
    font-family: "Playwrite HR Lijeva", cursive;
  }

  .navbar-brand {
    font-family: "Playwrite HR Lijeva", cursive;
  }
